<!DOCTYPE html>
<html>
<head>
	<title>Change Background</title>
</head>
<body>
	<h1>Change Background</h1>
	<form method="post" enctype="multipart/form-data">
		{% csrf_token %}
		<label for="image">Select an image:</label>
		<input type="file" name="image" id="image">
		<br><br>
		<label for="background">Select a background:</label>
		<input type="file" name="background" id="background">
		<br><br>
		<input type="submit" value="Change Background">
	</form>
	{% if image_url %}
		<h2>Original Image:</h2>
		<img src="{{ image_url }}" width="500">
		<h2>New Image with Changed Background:</h2>
		<img src="{{ new_image_url }}" width="500">
	{% endif %}
	<br>
	<a href="{% url 'remove_background' %}">Remove Background</a>
</body>
</html>
 