{% extends 'base.html' %}

{% block content %}
    <h1>Remove Image Background</h1>

    {% if result_path %}
        <h2>Result:</h2>
        <img src="{{ result_path }}" alt="result">
    {% endif %}

    {% if original_image_path %}
        <h2>Original Image:</h2>
        <img src="{{ original_image_path }}" alt="original image">
    {% endif %}

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" name="image">
        <button type="submit">Submit</button>
    </form>
{% endblock %}
